@import 'normalize.scss';
@import 'config.scss';
@import 'elementui.scss';

.push-left {
  position: absolute;
  left: 0;
}
.push-right {
  position: absolute;
  right: 0;
  overflow: hidden;
}
@for $i from 1 to 110 {
  .margin-left-#{$i} {
    margin-left: (1px * $i);
  }
}
@for $i from 1 to 110 {
  .black-space-#{$i} {
    margin-top: (1px * $i);
  }
}
html,
body,
#app {
  height: 100%;
}
section {
  height: inherit;
}
